<div class="container">
  <header #block>
    <h1>Новый пост</h1>
  </header>
  <mat-dialog-content #content class="content">
    <form class="form" [formGroup]="postForm">
      <div class="block">
        <label class="block-title">Изображение</label>
        <label for="file-input" class="file-upload">
          @if (postForm.get('imgPath')?.value && !imageSrc()) {
            <img class="post-img" [src]="DataBase.posts+postForm.get('imgPath')?.value" alt="Фотография">
          } @else if (imageSrc()) {
            <img class="post-img" [src]="imageSrc()" alt="Загруженное фото">
          } @else {
            <mat-icon class="icon" svgIcon="create"></mat-icon>
          }
          <input type="file" id="file-input" class="hide" (change)="upload($event)">
        </label>

      </div>
      <div class="block">
        <label class="block-title">Текст поста</label>
        <textarea formControlName="text" class="text-content"></textarea>
      </div>
    </form>
  </mat-dialog-content>
  <footer #block class="controls">
    <button [disabled]="postForm.invalid && postForm.pristine || !isSomeField"
            [class.disabled]="postForm.invalid && postForm.pristine || !isSomeField" (click)="onSubmit()"
            mat-button>Опубликовать
    </button>
  </footer>
</div>
