<div class="container">
  <div class="header-wrapper">
    <div class="header">
      <div class="logo">Gallery</div>
      <div class="user" [matMenuTriggerFor]="menu">
        <div class="user-avatar">
          @if (usersService.user()?.imgPath) {
            <img class="avatar" [src]="DataBase.avatars+usersService.user()?.imgPath" alt="Аватар профиля">
          } @else {
            <mat-icon class="avatar" svgIcon="user"></mat-icon>
          }
        </div>
        <div class="user-name">{{ usersService.user()?.firstName }}</div>
      </div>
    </div>
  </div>
  <div class="content">
    <nav>
      <ul class="nav-container">
        <li>
          <a class="nav-item" routerLink="feed" routerLinkActive="active">
            <div class="link-content">
              <mat-icon svgIcon="feed"></mat-icon>
              <div>Лента</div>
            </div>
          </a>
        </li>
        <li>
          <a class="nav-item" routerLink="users" routerLinkActive="active">
            <div class="link-content">
              <mat-icon svgIcon="users"></mat-icon>
              <div>Пользователи</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="userProfile()">
<!--    <div class="btn">-->
      <mat-icon class="test" svgIcon="user"></mat-icon>
      <span>Профиль</span>
<!--    </div>-->
  </button>
  <mat-divider></mat-divider>
  <button class="btn" mat-menu-item (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    <span>Выйти</span>
  </button>
</mat-menu>
