.container {
  position: relative;
  background-color: #3c3f41;
  min-height: 100%;
  color: #e1e1e1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("../assets/images/bg1.webp");
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
}

